
@{
    ViewBag.Title = "PocetnaStranica";
}

 <div>
     <h2 align="center">Dobro došli na početnu stranicu!</h2>
</div>
<div>
    <p> </p>
<p style="align-content:center">Ova web aplikacija olakšava rad podzećima i radnicicma poduzeća u poslovima vezanim za objavu oglasa, stvaranja akcija, dodavanja novih poduzeća,
    korisnika. Sadrži mogućnost dodavanaja slika uz oglas,opise oglasa i različite pogodnosti.
    U svakom trenutku svi koji korisnici sa valjanom lozinkom imaju pristup sustavu te mogu uređivati postojeće podatke, dodavati ih i brisati. </p>
</div>
